on:
  push:
    branches:
    - main
  pull_request:
name: ci
jobs:
  units:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: ${{matrix.java}}
    - run: java -version
    - run: .kokoro/install_dependencies.sh
    - run: .kokoro/build.sh
      env:
        JOB_TYPE: test
  windows:
    runs-on: windows-latest
    steps:
    - name: git configuration to avoid automatic CRLF conversion
      run: |
        git config --global core.autocrlf false
        git config --global core.eol lf
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 8
    - run: java -version
    - name: Install google-play-services artifact
      shell: bash
      run: |
        mkdir play-services
        cd play-services
        curl --output play-services-basement-8.3.0.aar https://dl.google.com/dl/android/maven2/com/google/android/gms/play-services-basement/8.3.0/play-services-basement-8.3.0.aar
        unzip play-services-basement-8.3.0.aar
        mvn install:install-file \
            -Dfile=classes.jar \
            -DgroupId=com.google.android.google-play-services \
            -DartifactId=google-play-services \
            -Dversion=1 \
            -Dpackaging=jar
    - run: .kokoro/build.sh
      shell: bash
      env:
        JOB_TYPE: test
  dependencies:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: ${{matrix.java}}
    - run: java -version
    - run: .kokoro/install_dependencies.sh
    - run: .kokoro/dependencies.sh
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 11
    - run: java -version
    - run: .kokoro/install_dependencies.sh
    - run: .kokoro/build.sh
      env:
        JOB_TYPE: lint
  clirr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 8
    - run: java -version
    - run: .kokoro/install_dependencies.sh
    - run: .kokoro/build.sh
      env:
        JOB_TYPE: clirr
